[Unit]
Description = Simple systemd service 

[Service]
Type = simple
ExecStart = /home/ivan/unix_drivers/driver/Services/f_service.sh

[Install]
WantedBy = multi-user.target
